.info {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  margin: 2em auto;
  position: relative;
  * {
      position: relative;
  }

  .info-title {
    background: #323232;
    color: #fff;
    min-height: 1.5em;
    line-height: 2em;
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: -0.5;
  }

  .info-content {
    background-color: #f5f5f5;
    padding-left: 0.5em;
    padding-right: 0.5em;

    p {
      margin-top: 0;
    }

    p:first-child {
      padding-top: 16px;
    }

    p:last-child {
      padding-bottom: 10px;
    }

    h3 {
      margin-bottom: 0px;
    }
  }
}