table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  * {
      position: relative;
  }

  td, th {
    padding-left: 8px;
    text-align: left;
  }

  thead > tr {
    background: #323232;
    color: #fff;
    height: 60px;
  }

  tbody {
    tr {
      height: 50px;
      &:nth-child(even) {
          background-color: #f5f5f5;
      }
      &:last-child {
          border: 0
      }
    }
  } 
}
