.blog-tags {
  width: 100%;
  background-color: $white;
  padding: 0 20px 20px;
  h1 {
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
    color: $body-color;
  }
  h2 {
    color: $body-color;
    margin: 10px 0;
  }
}

.tags {
  margin: 0;
  padding: 10px;
  li {
    display: inline-block;
    margin: 5px;
    list-style: none;
    a {
      text-decoration: none;
      color: $body-color;
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid $gray;
      background-color: $lightgray;
      transition: all .3s;
      &:hover {
        background-color: $gray;
      }
    }
  }
}

.tag-list {
  span {
    a {
      text-decoration: none;
      color: $body-color;
      &:hover {
        text-decoration: underline;
        opacity: .8;
      }
    }
  }
}
